/*CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: xx-large;
    font-family: SouthPark;
    vertical-align: baseline;
}

:root {
    --input-padding-x: 2rem;
    --input-padding-y: 1.5rem;
}

body {
    background: #161616;
}

.greenDot {
    color: #86BC25;
    font-size: 150%;
}


.btn:hover {
    background-color: #86BC25;
    border-color: #86BC25;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 2rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.btn-lg {
    padding: 1.5rem;
}

.form-control {
    border-width: 5px;
}

.form-signin .btn {

    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
    font-size:150%;
}

.form-label-group > input {
    font-size:150%;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 14px;
    color: #777;
}

.error {
    color: #c72c21;
}

.btn-bet {
    height:4em;
    width:4em;
    margin-left:0.75em;
}

.btn-bet:active {
    background-color:chartreuse;
}

.headerlabel {
    font-size:50%;
    color:grey;
    display:block;
}

.list-group-item {
    margin-bottom: 0.20em;
    border-color: black;
    border-width: 2px;
    display: block;
    height:5.5em;
}

.horse-icon {
    border-radius:50%;
    height:4em;
    width:4em;
}

.headerBar {
    background-color: white;
    border-bottom: medium solid #86BC25;
    padding-top: 0.5rem;
    padding-left:1em;
    padding-right:1em;
    margin-bottom: 0.5em;
    display: block;
}

.pull-right {
    float: right;
}

.horse-name{
    vertical-align:top;
}

.horse-details {
    display:inline-block;
    vertical-align:top;
}

.odds {
    margin-left:3em;
}

.footerBar {
    font-size:50%;
    color:grey;
    margin-top:1em;
}

.FirstPlace {
    border: medium solid #d4af37;
}

.SecondPlace {
    border: medium solid #c0c0c0;
}

.ThirdPlace {
    border: medium solid #cd7f32;
}

@media (max-width: 1000px) {
    .container {
        width: 100%;
    }
}