{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>From table Users:</h1>
            <ul>
                {% for entry in tbUsers %}
                <li>
                    <strong>Alias:</strong>{{ entry.Alias }}<strong>Standing:</strong>{{ entry.Standing }}
                    {% else %}
                <li>
                    <em>No Users given the current session id:</em>
                    {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h1>From table Horses</h1>
            <ul>
                {% for entry in tbHorses %}
                <li>
                    <strong>Name:</strong>{{ entry.Name }}<strong>Speed:</strong>{{ entry.Speed }}
                    {% else %}
                <li>
                    <em>No Horses given the current session id:</em> <!--{{ session.SessionId }}-->
                    {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
