{% extends "layout.html" %}
{% block body %}
<script type=text/javascript src="{{ url_for('static', filename='Scripts/Game.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

<div class="container gameContainer">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="headerBar">
                <div class="headerlabel"><span>Alias</span> <span class="pull-right">Standing</span></div>
                <h2><span id="alias">{{ session.Alias }}</span><span id="Standing" class="pull-right">N/A</span></h2>
            </div>
            
            <ul id="horses" class="list-group"></ul>
        </div>
    </div>
</div>
{% endblock %}
